<mat-card style="width: 1500px; height: 800px">
  <div fxLayout="row" fxLayoutGap="50px">

    <div fxFlex="50">

      <mat-card>
        <canvas baseChart [data]="radarChartData" [options]="radarChartOptions" [type]="radarChartType">
        </canvas>
      </mat-card>
    </div>

    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Your Results:</mat-card-title>
          <mat-card-subtitle>You scored the following average values in these categories:</mat-card-subtitle>
        </mat-card-header>

        <p>Time & Flexibility: {{this.userScores[0]}}</p>
        <p>Finance Knowledge: {{this.userScores[4]}}</p>
        <p>Cognitive Bias Resistance: {{this.userScores[3]}}</p>
        <p>Financial Risk Tolerance: {{this.userScores[1]}}</p>
        <p>Psychological Risk Tolerance: {{this.userScores[2]}}</p>
      </mat-card>
    </div>
  </div>

</mat-card>
