<div fxLayout="column">

  <div fxLayoutGap="32px" style="margin-bottom: 35px">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Displaying random strategies which were not explicitly selected for the user</mat-card-title>
        <mat-card-subtitle>user id: {{this.data.id}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div fxFlex=75>
    <ul *ngFor="let strategy of this.strats; index as i">

      <!--<p> {{ this.data.good_recommendation.recommended_components[i].name}}</p>-->

      <mat-card>
        <div fxLayout.xl="row" fxLayoutGap="32px">
          <app-stratcompare fxFlex="33" [userScores]="userScoreArr"
                            [strategyScores]="this.stratArrs[i]"></app-stratcompare>
          <app-strat-details fxFlex="33"
                             [strategy]="this.strats[i]"></app-strat-details>
          <app-strat-feedback fxFlex="33"
                              [strategy]="this.strats[i]"
                              [strategyIndex]="i"
                              (stratRatedEmitter)="this.collectFeedback($event)"
          ></app-strat-feedback>
        </div>
      </mat-card>
    </ul>
  </div>
</div>
