<button mat-button color="primary" [routerLink]="['../survey']">

  <a routerLink="../survey"></a>

  Get Started!
</button>

<p>Available questionnaires</p>
<ol *ngFor="let category of this.qCategories">
  <li>
    <p>category:{{category}}</p>
  </li>
</ol>

<mat-card>

  <mat-card-header>
    <mat-card-title [textContent]="getTitle()"></mat-card-title>
  </mat-card-header>

  <!--List for Questionnaires -- index is i-->
  <ol *ngFor="let questionnaire of this.questionnaires; index as i">
    <mat-card style=margin-bottom:50px;border-color:blue>
      <mat-card-header>
        <mat-card-title>{{questionnaire.category}}</mat-card-title>
        <mat-card-subtitle>{{questionnaire.description}}</mat-card-subtitle>
      </mat-card-header>


      <!-- list for questions in questionnaires, -- index is ii -->
      <ol *ngFor="let question of questionnaire.questions; index as ii;">

        <!--Display a question of the questionnaire-->
        <mat-card style=margin-bottom:20px>

          <!--The header containing the question text-->
          <mat-card-header>
            <mat-card-title [textContent]="question.question_text"></mat-card-title>
          </mat-card-header>

          <!-- List for answers in questions, index is iii-->
          <ul *ngFor="let answer of question.answers_to_show ;index as iii">
            <mat-card [style.background]="getSelected(i, ii, iii)?'green':'white'">
              <mat-card-header>
                <button mat-stroked-button color="primary" (click)="setAnswerIndex(i, ii, iii)">Select this answer</button>
                <mat-card-title [textContent]="answer.answer_text"></mat-card-title>
              </mat-card-header>
            </mat-card>
          </ul>
          <!--          <span>Debug: Chosen Answer Index: {{question.chosen_answer_index}} </span>-->
        </mat-card>
      </ol>
    </mat-card>
  </ol>

  <button mat-raised-button (click)="submitQuestionnaires()">Submit Questionnaires</button>
</mat-card>

