<!-- MAIN CENTERED LAYOUT DIV-->
<div fxLayout="column" fxLayoutAlign="center center">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Which of these statements best describes why you are viewing this page?</mat-card-title>
    </mat-card-header>
    <div>
      <ul *ngFor="let profile of this.profiles ; index as i">
        <mat-card (click)="redirect(profiles[i])">
          {{this.profiles[i].reason}}
        </mat-card>
      </ul>

    </div>

  </mat-card>
  <!-- MAIN CENTERED LAYOUT DIV END-->
</div>
