<!-- MAIN CENTERED LAYOUT DIV-->
<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 150px">
  <div style="height: 1200px; width: 1100px; margin-bottom: 50px; margin-top: 50px;">

    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Which of these statements best describes why you are viewing this page? (Scroll down to view
            all)
          </mat-card-title>
          <mat-card-subtitle>These profiles act as a starting point for your recommendation so please choose carefully
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div>
      <ul *ngFor="let profile of this.profiles ; index as i">

        <mat-card (click)="selectProfile(i, profiles[i])" style="margin-top: 50px; margin-bottom: 50px">
          <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between none">

            <div fxFlex="50">
              <mat-card>
                <h3>{{this.profiles[i].reason}}</h3>
                <br/>
                <p>Attributes this profile is associated with:</p>
                <ul *ngFor="let tag of this.profiles[i].tags">
                  <p>{{prettifyProfileTag(tag)}}</p>
                </ul>
              </mat-card>
            </div>

            <div fxFlex="50">

              <mat-card>
                <app-generic-radarchart [userScores]=" [
                profiles[i].time_flexibility,
                profiles[i].fin_risk_tolerance,
                profiles[i].psy_risk_tolerance,
                profiles[i].cog_bias_resistance,
                profiles[i].financial_knowledge,
                ]"
                                        label="Profile Stats"></app-generic-radarchart>
              </mat-card>
            </div>

          </div>
        </mat-card>
      </ul>
    </div>

  </div>

  <!-- MAIN CENTERED LAYOUT DIV END-->
</div>
