<button mat-button color="primary" [routerLink]="['../survey']">

  <a routerLink="../survey"></a>

  Get Started!
</button>

<p>Available questionnaires</p>
<ol *ngFor="let category of this.qCategories">
  <li>
    <p>category:{{category}}</p>
  </li>
</ol>

<div>
  <p>Questionnnaires</p>
  <ol *ngFor="let questionnaire of this.questionnaires; index as i" >
    <li >
      <h4>Questionnaire: {{questionnaire.category}}</h4>
      <p>{{ questionnaire.description }}</p>


      <ol *ngFor="let question of questionnaire.questions; index as ii;">
        <li >

          Question: {{ question.question_text}}
          <ul *ngFor="let answer of question.answers_to_show ;index as iii" >
            <li> Answer {{iii}}: {{ answer.answer_text}}
              <br/>
              <button (click)="setAnswerIndex(i, ii, iii)">Select this answer</button>
            </li>
          </ul>

          <span>Chosen Answer Index: {{question.chosen_answer_index}} </span>

        </li>
      </ol>

    </li>
  </ol>
</div>

