<button mat-button color="primary" [routerLink]="['../survey']">

  <a routerLink="../survey"></a>

  Get Started!
</button>

<p>Available questionnaires</p>
<ol *ngFor="let category of this.qCategories">
  <li>
    <p>category:{{category}}</p>
  </li>
</ol>

<mat-card>

  <mat-card-header>
    <mat-card-title [textContent]="getTitle()"></mat-card-title>
  </mat-card-header>

  <ol *ngFor="let questionnaire of this.questionnaires; index as i">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{questionnaire.category}}</mat-card-title>
        <mat-card-subtitle>{{questionnaire.description}}</mat-card-subtitle>
      </mat-card-header>


      <ol *ngFor="let question of questionnaire.questions; index as ii;">

        <!--Display a question of the questionnaire-->
        <mat-card>

          <!--The header containing the question text-->
          <mat-card-header>
            <mat-card-title [textContent]="question.question_text"></mat-card-title>
          </mat-card-header>

          <ul *ngFor="let answer of question.answers_to_show ;index as iii">
            <mat-card [style.background]="getSelected(i, ii, iii)?'yellow':'white'">
              <mat-card-header>
                <mat-card-title [textContent]="answer.answer_text"></mat-card-title>
              </mat-card-header>
              <button mat-stroked-button color="primary" (click)="setAnswerIndex(i, ii, iii)">Select this answer
              </button>
            </mat-card>
          </ul>
          <span>Debug: Chosen Answer Index: {{question.chosen_answer_index}} </span>

        </mat-card>
      </ol>

    </mat-card>
  </ol>
</mat-card>

